<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sliding Login/Register</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="form-container">
				<!-- Login Form -->
				<div class="form-box login-box">
					<h2>CoderOne LMS Login</h2>
					<form action="/login" method="POST">
						<input
							type="text"
							name="username"
							placeholder="Username"
							required />
						<input
							type="password"
							name="password"
							placeholder="Password"
							required />
						<button type="submit">Login</button>
					</form>
					<p>
						Don't have an account?
						<a style="cursor: pointer" id="show-register">Register</a>
					</p>
				</div>

				<!-- Register Form -->
				<div class="form-box register-box">
					<h2>CoderOne LMS Register</h2>
					<form action="/register" method="POST">
						<input
							type="text"
							name="username"
							placeholder="Username"
							required />
						<input
							type="password"
							name="password"
							placeholder="Password"
							required />
						<button type="submit">Register</button>
					</form>
					<p>
						Already have an account?
						<a id="show-login" style="cursor: pointer">Login</a>
					</p>
				</div>
			</div>
		</div>

		<script src="/js/main.js"></script>
	</body>
</html>
